// Section Header Starts Here
.section-header {
	margin-bottom: 40px;
	@include breakpoint(lg) {
		margin-bottom: 50px;
	}
	&__subtitle {
		margin-bottom: 8px;
	}
	&__title {
		margin-bottom: 16px;
	}
}
// Section Header Ends Here

// Brand Section Starts Here
.brand-item {
	max-width: 200px;
	margin: 0 auto;
}
// Brand Section Ends Here

// Common Card Starts Here
.common-card-wrapper {
	gap: 30px 0;
}
.why-section-header {
	padding: 25px 20px;
	@include breakpoint(sm) {
		padding: 40px 30px;
	}
}
.common-card {
	&__thumb {
		border-radius: 8px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	&__content {
		padding-top: 20px;
		@include breakpoint(max-sm) {
			padding-bottom: 14px;
		}
		&-title {
			margin-bottom: 20px;
			@include breakpoint(max-sm) {
				margin-bottom: 14px;
			}
		}
	}
	&:hover {
		.common-card__thumb img {
			transform: scale(1.1);
		}
	}
}
// Common Card Ends Here

// Feature Card Starts Here
.feature-wrapper {
	gap: 50px;
}
.feature-width {
	width: calc((100% / 3) - ((50px * 2) / 3));
	@include breakpoint(max-lg) {
		width: calc((100% / 2) - 25px);
	}
	@include breakpoint(max-md) {
		width: 100%;
	}
}
.feature-card {
	&__thumb {
		width: 128px;
		height: 128px;
		border-radius: 50%;
		background-color: hsl(var(--base) / 0.3);
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto 20px;
	}
	&__content {
		&-title {
			margin-bottom: 20px;
		}
	}
}
// Feature Card Ends Here
